// general wrapper class
.container {
	@extend %post;
	// Set max-width here

	.content {
		@include span-columns(8);
		padding: 2rem 0;
	}
	.sidebar {
		@include span-columns(4);
		@include omega;
		padding: 2rem 0;
	}
}

// WP Image Alignment Classes
.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright {
	float: right;
	margin-left: 10px;
}

.aligncenter {
	margin: 10px auto;
}

.acf_wysiwyg {
	ul {
		//default UL styling for within a WYSIWYG editor
	}
	
	ol {
		//default UL styling for within a WYSIWYG editor
	}
}